@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stick&display=swap');

:root {
    /* hue situation lightness alpha */
    --primary-color: hsla(203, 100%, 13%, 1);
    --secondary-color: hsla(330, 87%, 17%);
    --fruit-color: tomato;
}

body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;

    background-color: #f4f4f4;
    font-size: 12px;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Start Navbar */
/* Start Left Side bar */
.sidebars {
    background-color: black;
    color: white;
}

.nav-item.nav-categories {
    color: white;
    opacity: 0.9;
    margin: 10px 0;
}

.nav-item .sidebarlinks {
    opacity: 0.9;
}

.nav-item .sidebarlinks:hover {
    opacity: 1;
    background-color: gray;
}

.nav-item .sidebarlinks .more {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

.sidebarslinks.currents {
    background-color: gray;
    box-shadow: 1px 0 5px #222;
}

/* End Left Side bar */
/* End Navbar */