@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&family=Stick&display=swap');

:root{
    /* hue situation lightness alpha */
    --primary-color:hsla(203, 100%, 13%, 1)  ;
    --secondary-color: hsla(330, 87%, 17%) ;
    --fruit-color: tomato ;
}

*{
    box-sizing: border-box;
}

body{
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  padding: 0;
  margin: 0;
}


/* Start Header Session */
header{
    height: 100vh;
    background:url(../assets/img/banner/banner2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* Start Nav Bar */
.navbar{
    background: linear-gradient(rgba(0,0,0,.3),var(--primary-color));
}
/* End Nav Bar */

/* Start Banner Bar */
/* End Banner Bar */
/* End Header Session */